html {
    background-color: rgb(82, 161, 116);
    height: 100%;
}
body {
    margin: 0 auto;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: 1px 0px 5px black, -1px 0px 5px black
}
.url-container {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
}
#url {
    width: 100%;
}
