html {
    background-color: rgb(82, 161, 116);
    height: 100%;
}
body {
    margin: 0 auto;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: 1px 0px 5px black, -1px 0px 5px black
}
.url-container {
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
#url {
    width: 80%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}
.warning {
   color: red;
   font-weight: bold;
   text-align: center;
}
.main-title {
   text-align: center;
   margin-top: 0;
   padding-top: 25px;
}
.url-piece {
   position: relative;
   left: -150px;
   transition: all .5s;
}
.slide-in {
   left: 0;
}
.url-piece span {
   display: inline-block;
   padding: 2px;
   color: white;
   width: 150px;
   text-shadow: 1px 1px #555;
   box-shadow: 1px 1px #555;
   position: relative;
}
.url-piece span:after {
   position: absolute;
   left: 100%;
   top: 1px;
   width: 0;
   height: 0;
   content: "";
   border-top: 15px solid transparent;
   border-bottom: 16px solid transparent;
   border-left: 15px solid green;
}
.protocol {
   background-color: red;
}
span.protocol:after {
   border-left: 15px solid red;
}
.hostname {
   background-color: green;
}
span.port {
   background-color: yellow;
   color: black;
}
.pathname {
   background-color: purple;
}
.search {
   background-color: blue;
}
.hash {
   background-color: olive;
}
